body{
  
  width: 100vw;
  height: 100vh;
  
  
  display:flex;
  flex-direction: column;
  justify-content: space-between;

  background: linear-gradient(106.9deg, #F08D8D 3.43%, rgba(255, 255, 255, 0) 98.71%), #F28A50;
  
  background-attachment: fixed;
}

header{
  display:flex;
  
  flex-direction: column;
  align-items: flex-end;

  width:100vw;
}

.alinhamento{
  display:flex;
  justify-content: space-around;

  width: 100vw;
}

.btn-backspace{
  margin-top: 10px;
  
  display:flex;
  justify-content: center;
  align-items: center;

  width: 80px;
  height: 60px;

  margin-right:10px;

  color: #fff;
  font-size: 39px;
  font-weight: 800;

  background: linear-gradient(270deg, #F073F2 0%, rgba(20, 0, 255, 0.44) 98.6%), #FFFFFF;
  border-radius: 10px;

  border: 2px solid #fff;

}

.letters-table{
  font-size:70px;
  color: #fff;
  font-weight: bold;

  width: 1420px;

  border: 2px solid #fff;
  border-radius:30px;

  background: linear-gradient(270deg, #F073F2 0%, rgba(20, 0, 255, 0.44) 98.6%), #FFFFFF;

  margin-top:10px;
  padding: 8px;

  display: flex;
  justify-content: space-around;

  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}


.name-container{
  border-radius: 10px;

  width:280px;

  font-size:20px;
  color:#fff;
  font-weight: bold;

  background: linear-gradient(295.11deg, #00DF9C -2.22%, rgba(4, 183, 172, 0.43) 100%), #9CF8E7;

  display:flex;
  justify-content: left;
  align-items: center;

  margin-left: -13px;
  margin-top: -11px;

  padding:20px 25px;

}

.letters:hover{

transition: 0.4s;

-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color:#0085FF;


cursor:pointer;


}

main{

  width:100vw;

  display:flex;
  align-items: center;
}

footer{

  display:flex;
  flex-direction: column;

  align-items: flex-start;

  width:100vw;
  height:20vh;

  background: linear-gradient(176.27deg, #00DF9C 1.76%, rgba(4, 183, 172, 0.62) 100%), #9CF8E7;


}

footer header  {
  font-size: 34px;
  font-weight: 800;
  color:#fff;

  display:flex;
  align-items: flex-start;

  padding-left: 20px;
  padding-top: 10px;

  margin-bottom:30px;
}





/*=====================PARTE DA RESPONSIVIDADE======================*/


@media screen and (max-width: 1461px){
  .name-container{
    display:none;
  }

  header  {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .letters-table{
    font-size:32px;
    
    width: 86vw;
    max-height:9vh;
    height: 60px;
  }

  .btn-backspace{
    font-size:30px;
    width:6vw;
  }

  footer {
    height:152px;
    max-height:19vh;

    display:flex;
    flex-direction: column;

    align-items: flex-start;
  }

  footer header{
    font-size:30px;
    
    justify-content: flex-start;
  }
}

@media screen and  (max-width: 1042px){
  

  body{
    

    flex-direction: column;
    
    justify-content: space-between;


  }
  
  header {
    
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  
  .btn-backspace{
    font-size: 30px;
    width:80px;

  }

  
  

  .letters-table{
    font-size:40px;

    width: 90vw;
    height:100vh
  }

  
  footer{
    height:20%;
  }

  footer header {
    font-size:30px;
    
    display: flex;
    align-items: flex-start;
    
  }

 
}

@media screen and  (max-width: 900px ){
  body{
    width:100vw;
    height: 100vh;

    flex-direction: column;
    
    justify-content: space-between;

    

  }
  
  header {
    flex-wrap: wrap;
    height: auto;

  }

  .btn-backspace{

    font-size:35px;

    padding: 10px 5px;
    
  }

  footer{
    width: 100vw;
    height: 100vh;
  }

  .letters-table{
    font-size:40px;

    width: 100vw;
  }

  
}

/*=============PARTE DE AJUSTES PARA TELAS MUITO PEQUENAS====================*/
@media screen and  (max-width: 735px){
  
  
  .letters-table{
    font-size: 30px;

    height: auto;
  }

  .btn-backspace{
    width: 65px;
    
  }
}

@media screen and (max-width: 541px){
  .letters-table{
    font-size: 20px;
  }

  .btn-backspace{
    width:55px;
  }

  footer header span{
    font-size:20px;
  }
}

@media screen and (max-width:365px){
  .letters-table{
    font-size: 15px;
  }

  .btn-backspace{
    font-size:26px;
    
    height: 50px;
    width: 50px;
  }

  
  
}