#show-word{
   font-size:180px;
   font-weight: 800;
   color: #fff;
   
 
   width: 120rem;
   height: 18rem;
 
   display:flex;
   justify-content: center;
   align-items: center;
 
  
   
 }
 
 @media (max-width: 1024px){
 
   #show-word{
     font-size:85px;
   }
 }
 
 
 